@import "variables";

.page-not-found {
  background-color: $c--disabled;
  color: $c--muted;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  .fa404 {
    gap: .5rem;
    display: flex;
    font-size: $font-size--100;
    color: $c--text;
  }
}