@import "variables";

.agenda-archive {
  .agenda-nav {
    border-bottom: 1px solid $c--border;
    display: flex;
    position: sticky;
    top: var(--header-height);
    background-color: $c--base;

    button {
      padding: 1.25rem 1.5rem;
      color: $c--secondary;

      &.active {
        color: $c--text;
      }
    }
  }

  .agenda-list {
    padding-block: 5rem;

    .day-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .activity {
        padding: 1rem 2.5rem;
        border: 1px solid $c--border;
        border-radius: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.5rem;

        &.highlight {
          border: 0;
          background-color: $c--text;
          color: $c--base;

          .info h6 {
            color: $c--accent;
          }
        }

        .info {

          h6 small {
            font-family: $font-circular;
          }
        }

        .speakers {
          display: flex;
          align-items: center;
          gap: 1rem;
          justify-content: flex-end;

          .speaker {
            flex: 0 1 320px;
            display: flex;
            align-items: center;
            gap: 1rem;

            .speaker-image {
              flex: 0 0 4rem;
              width: 4rem;
              height: 4rem;
              border-radius: 10rem;
              overflow: hidden;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            .info {

              .name {
                font-weight: 600;
              }

            }
          }

          .more-speakers {
            flex: 0 1 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .count {
              font-family: $font-larken;
              flex: 0 0 4rem;
              height: 4rem;
              font-size: $font-size--24;
              border-radius: 10rem;
              text-align: center;
              background-color: $c--secondary;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $c--text;
              line-height: 1;
            }

            .more-text {
              flex: 0 1 auto;
            }


          }
        }
      }
    }
  }

  @media (max-width: map-get($breakpoints, 'medium')) {
    .agenda-list {
      padding-block: 2.5rem;

      .day-item .activity {
        align-self: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;

        .info {
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          h6 {
            display: flex;
            flex-direction: column;

            span {
              display: none;
            }
          }
        }

        .speakers {
          flex-wrap: wrap;

          .more-speakers {
            font-weight: 600;
            gap: 0.5rem;

            .count {
              color: $c--base;
              font-family: $font-circular;
              width: unset;
              height: unset;
              flex: unset;
              background-color: unset;
              font-size: 1rem;
            }

            flex: 1 0 100%;
          }

          .speaker {
            flex: 1;
            text-align: center;

            .speaker-image {
              display: none;
            }
          }
        }
      }
    }
  }
  @media (max-width: map-get($breakpoints, 'small')) {
    .agenda-nav {
      button {
        font-size: $font-size--14;
      }
    }
  }
}