// Circular

@font-face {
  font-family: Circular;
  src: url('../fonts/CircularXX/CircularXXWeb-Light.woff2'); /* Light 200 */
  font-weight: 200;
}

@font-face {
  font-family: Circular;
  src: url('../fonts/CircularXX/CircularXXWeb-Regular.woff2'); /* Light 300 */
  font-weight: 300;
}

@font-face {
  font-family: Circular;
  src: url('../fonts/CircularXX/CircularXXWeb-Book.woff2'); /* Regular 400 */
  font-weight: 400;
}

@font-face {
  font-family: Circular;
  src: url('../fonts/CircularXX/CircularXXWeb-Medium.woff2'); /* Medium 600 */
  font-weight: 600;
}

@font-face {
  font-family: Circular;
  src: url('../fonts/CircularXX/CircularXXWeb-Bold.woff2'); /* Bold 700+ */
  font-weight: bold;
}
