@import 'variables';
//HOME
.anchor {
  position: absolute;
  top: calc((var(--header-height) * -1));
  left: 0;
  width: 100%;
  height: 0;
  pointer-events: none;
}

.hero {
  background-image: linear-gradient(103.84deg, rgba(12, 25, 55, 0.2) 0%, rgba(105, 209, 255, 0.2) 100%),
  linear-gradient(270deg, rgba(12, 25, 55, 0.16) 0%, rgba(12, 25, 55, 0.04) 25%, rgba(12, 25, 55, 0.56) 60%, rgba(12, 25, 55, 0.8) 100%),
  var(--bg-url);
  background-position: center center;
  background-size: cover;
  color: $c--base;
  display: flex;
  align-items: center;
  min-height: 80vh;
  clip-path: polygon(0 90%, 40% 90%, 45% 100%, 100% 100%, 100% 0, 0 0);
  padding-block: 6rem;

  .content {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h6 {
      font-weight: 300;
    }

    .details {
      display: flex;
      align-items: flex-end;
      gap: 1rem;

      > div {
        display: flex;
        align-items: center;
        gap: 1rem;
        vertical-align: middle;

        i {
          vertical-align: middle;
          margin-top: -0.25rem;
          color: $c--accent;
        }
      }

    }

    button {
      align-self: flex-start;
    }

  }

  @media(max-width: map-get($breakpoints, 'small')) {
    clip-path: none;
    padding-block: 3.5rem;
    background-image: linear-gradient(180deg, rgba(12, 25, 55, 0.18) 0%, rgba(12, 25, 55, 0.045) 15.58%, rgba(12, 25, 55, 0.63) 37.39%, rgba(12, 25, 55, 0.9) 62.32%),
    var(--bg-url);

    align-items: flex-end;
    .details h6 {
      font-size: $font-size--14;
    }
    .content {
      align-items: center;
      justify-content: center;
      text-align: center;

      button {
        align-self: stretch;
      }
    }
  }

}

.purchase-tickets {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-block: 5rem;
  align-items: center;
  border-bottom: 1px solid $c--border;
  position: relative;

  &.thank-you {
    .info-wrapper {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      justify-content: center;
      flex-wrap: wrap;

      .info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .strong {
          font-weight: 600;
        }

        &:not(:last-of-type) {
          @media(min-width: map-get($breakpoints, 'medium')) {
            padding-inline-end: 1.5rem;
            border-inline-end: 1px solid $c--border;
          }
          }

      }
    }
  }

  .dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    display: flex;
    justify-content: space-between;

    img {
      width: 80%;
    }

    .dots-left {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
    }

    .dots-right {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }


  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
  }

  .tickets {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;


    li {
      display: flex;
      flex: 0 1 420px;

      input[type="radio"]:checked + label {
        box-shadow: 0px 0px 0px 3px $c--accent;

        .header {
          .checkbox {
            box-shadow: inset 0px 0px 0px 3px $c--accent;
            background-color: $c--text;
          }
        }

        .availability {
          background-color: $c--highlighted;
        }
      }

      label {
        transition: 0.25s 0.1s;
        cursor: pointer;
        box-shadow: 0px 0px 0px 1px $c--border;
        border-radius: 0.75rem;
        overflow: hidden;
        width: 100%;

        .header {
          flex: 1;
          padding: 1.5rem;
          background-color: $c--text;
          color: $c--base;
          display: flex;
          align-items: center;
          position: relative;

          .ticket-name {
            display: flex;
            align-items: center;
            gap: .5rem;
          }

          .dots-right {
            position: absolute;
            pointer-events: none;
            right: 0;
            top: 0;
            height: 100%;
          }

          .checkbox {
            flex: 0 0 1rem;
            transition: 0.3s;
            box-shadow: inset 0px 0px 0px 3px $c--base;
            width: 1rem;
            height: 1rem;
            background-color: $c--base;
            border-radius: 50%;
            margin-bottom: .25rem;
            overflow: hidden;
          }

          h6 {
            font-weight: 300;
          }

          h5 {
            margin-inline-start: auto;
          }
        }

        .availability {
          transition: 0.3s;
          background-color: $c--base;
          padding: 1rem 1.5rem;
        }
      }
    }

  }

  &:has(input[type="radio"][data-note="1"]:checked) .free-ticket-note {
    display: block;
  }

  .free-ticket-note {
    display: none;
  }

  .purchase-note {
    text-align: center;

    a {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  @media(max-width: map-get($breakpoints, 'small')) {
    padding-block: 3.5rem;
    gap: 2rem;
    .dots {
      display: none;
    }
    button {
      align-self: stretch;
    }
    .purchase-note {
      font-family: $font-circular;
      font-size: 1rem;
    }
    .tickets li label .header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      h5 {
        margin: 0;
      }
    }
  }

}

.intro {
  padding-block: 10rem;
  display: flex;
  align-items: center;

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;

    .title {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: var(--bg-url) no-repeat center center;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-size: cover; /* Ensures the background covers the text */
      span.xxl {
        font-family: $font-larken;
        font-size: $font-size--144;
        line-height: 1;
        font-weight: 800;
      }

      span.xl {
        font-family: $font-larken;
        font-size: $font-size--100;
        line-height: 1;
        font-weight: 700;

      }

      @media(max-width: map-get($breakpoints, 'small')) {
        text-align: center;
        span.xxl {
          font-size: $font-size--48;
        }
        span.xl {
          font-size: $font-size--48;
        }
      }
    }

    .description {
      flex: 0 1 520px;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      button {
        align-self: flex-start;
      }

      @media(max-width: map-get($breakpoints, 'small')) {
        text-align: center;
        button {
          align-self: stretch;
        }
      }
    }
  }

  @media(max-width: map-get($breakpoints, 'small')) {
    padding-block: 3.5rem;
  }
}

.what-to-expect {
  background-image: linear-gradient(0deg, rgba(12, 25, 55, .5), rgba(12, 25, 55, .5)),
  linear-gradient(270deg, $c--text 0%, rgba(12, 25, 55, 0) 50%, $c--text 100%),
  linear-gradient(180deg, rgba(12, 25, 55, 0) 50%, $c--text 100%),
  linear-gradient(360deg, rgba(12, 25, 55, 0) 50%, $c--text 100%),
  var(--bg-url);
  color: $c--base;
  background-size: cover;
  background-position: center center;
  padding-block: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  p {
    text-align: center;
    max-width: 800px;
    font-weight: 300;
  }

  .icons-list {
    display: flex;
    gap: 3rem;
    justify-content: center;

    li {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;


      .icon {
        flex: 0 0 5rem;
        height: 5rem;
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c--accent;
        border-radius: 5rem;

        img {

        }
      }

      h6 {
        text-align: center;
        font-weight: 300;
        max-width: 280px;
      }
    }
  }

  @media(max-width: map-get($breakpoints, 'medium')) {
    .icons-list {
      flex-direction: column;

      li {
        flex-direction: row;

        .icon {
          width: 3rem;
          height: 3rem;
          flex: 0 0 3rem;

          img {
            width: 1.25rem;
            height: 1.25rem;
          }
        }

        h6 {
          max-width: 100%;
          text-align: start;
        }
      }
    }

  }
  @media(max-width: map-get($breakpoints, 'small')) {
    padding-block: 3.5rem;
    h6 {
      font-size: 1rem;
    }
  }
}

.faq {
  display: flex;
  padding-block: 5rem;
  gap: 5rem;
  position: relative;
  flex-wrap: wrap;

  h2 {
    flex: 0 1 380px;
  }

  .faq-list {
    flex: 1;
    display: flex;
    flex-direction: column;

    li {
      border-bottom: 1px solid #ddd;

      .header {
        cursor: pointer;
        padding-block: 1rem;
        margin: 0;
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        .indicator {
          position: relative;
          width: 2px;
          height: 0.75rem;
          background-color: $c--text;
          transition: 0.3s;

          &::after {
            content: '';
            width: 0.75rem;
            height: 2px;
            background-color: $c--text;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;

          }
        }


        &.active {
          .indicator {
            background-color: rgba(0, 0, 0, 0);

            &::after {
              transform: translate(-50%, -50%) rotate(180deg);
              opacity: 1;
            }
          }
        }

      }

      .panel {
        display: none;
        padding-bottom: 1rem;
      }
    }
  }

  @media(max-width: map-get($breakpoints, 'small')) {
    padding-block: 3.5rem;
    gap: 1.5rem;
  }
}