@import "variables";

.speakers-archive {

  .speakers-list {
    padding-block: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;

    .speaker-item {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.5rem;
      border: 1px solid $c--border;
      border-radius: 0.75rem;
      transition: 0.25s;

      &:hover {
        transform: scale(1.05);
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $c--border;

        .speaker-image {
          flex: 0 0 9rem;
          width: 9rem;
          height: 9rem;
          border-radius: 10rem;
          overflow: hidden;
          display: flex;
          position: relative;


          img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        .name {
          display: flex;
          flex-direction: column;
          gap: .25rem;
        }
      }

      small {
        color: $c--muted;
      }

      .social-links {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: $font-size--14;

        a {
          font-weight: 600;
        }
      }

    }

    @media (max-width: map-get($breakpoints, 'medium')) {
      padding-block: 6rem;
      grid-auto-rows: auto;
      .speaker-item {
        .wrapper {
          flex-direction: row;
          align-items: center;

          .speaker-image {
            flex: 0 0 4rem;
            height: 4rem;
            width: 4rem;

          }
        }

      }
    }
    @media (max-width: map-get($breakpoints, 'small')) {
      padding-block: 2.5rem;
    }
  }
}