footer.site-footer {
  background: linear-gradient(0deg, rgba(12, 25, 55, 0.5), rgba(12, 25, 55, 0.5)),
  linear-gradient(180deg, #0C1937 0%, rgba(12, 25, 55, 0) 100%),
  var(--bg-url);
  background-position: center center;
  background-size: cover;
  gap: 5rem;
  position: relative;
  padding-top: 5rem;

  &, .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    color: $c--base;
    text-align: center;
    gap: 2.5rem;

    h1 span {
      color: $c--accent;
    }
  }

  .logo {

  }

  .social-list {
    display: flex;
    gap: 2.5rem;


    li a {
      display: flex;
      align-items: center;
      gap: .5rem;

      .icon {
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c--accent;
        border-radius: 5rem;
      }

      .text {

      }
    }
  }

  .dots-left, .dots-right {
    position: absolute;
  }

  .dots-right {
    right: 0;
    bottom: 0;
  }

  .dots-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @media(max-width: map-get($breakpoints, 'medium')) {
    padding-block: 3.5rem;
    .dots-left, .dots-right, .arrow {
      display: none;
    }
  }
  @media(max-width: map-get($breakpoints, 'small')) {
    .social-list {
      gap: 1rem;
      flex-direction: column;
    }
  }
}
