.inner-page-hero {
  background-color: $c--text;
  color: $c--base;
  padding-block: 8.75rem;
  position: relative;

  .arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .dots {
    position: absolute;
    bottom: 0;
    right: var(--layout-padding);
  }

  @media(max-width: map-get($breakpoints, 'medium')) {
    padding-block: 3.5rem;
    gap: 1.5rem;
    overflow: hidden;

    h1 {
      text-align: center;
    }
    .dots {
      max-width: 10rem;
    }
  }
  @media(max-width: map-get($breakpoints, 'small')) {
    .arrow {
      width: 3rem;
    }
    .dots {
      max-width: 8rem;
      bottom: -1rem;

    }
  }
}